@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  background-color: #fff;
  width: 24.6rem;
  padding: 2.4rem 1.6rem;
}
.sidebar__logo {
  margin: 0 0 10rem;
}
.sidebar__list ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.sidebar__list ul li {
  list-style-type: none;
}
.sidebar__list ul li a.active {
  background-color: #000AFF;
}
.sidebar__list ul li a.active span {
  color: #fff;
}
.sidebar__list ul li a.active img {
  filter: brightness(300%);
}
.sidebar__list ul li a {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  padding: 1.8rem 2.4rem;
  text-decoration: none;
  border-radius: 0.6rem;
}
.sidebar__list ul li a:hover {
  background-color: #000AFF;
}
.sidebar__list ul li a:hover span {
  color: #fff;
}
.sidebar__list ul li a:hover img {
  filter: brightness(300%);
}
.sidebar__list ul li a span {
  color: #6D737A;
  font-size: 1.6rem;
  font-weight: 700;
}
.sidebar__logout {
  position: absolute;
  bottom: 2rem;
}
.sidebar__logout a {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  padding: 1.8rem 2.4rem;
  text-decoration: none;
  border-radius: 0.6rem;
}
.sidebar__logout a:hover {
  background-color: #000AFF;
}
.sidebar__logout a:hover span {
  color: #fff;
}
.sidebar__logout a:hover img {
  filter: brightness(300%);
}
.sidebar__logout a span {
  color: #6D737A;
  font-size: 1.6rem;
  font-weight: 700;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  padding: 1.6rem 4rem;
}
.header__flex {
  display: flex;
  align-items: center;
  justify-content: end;
}
.header__end {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}
.header__notification button {
  all: unset !important;
  cursor: pointer !important;
}
.header__wallet button {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  background-color: #000AFF;
  border-radius: 0.6rem;
  padding: 1.6rem;
  border: none;
  cursor: pointer;
}
.header__wallet button span {
  font-size: 1.4rem;
  font-weight: 500;
  color: #fff;
}

.dashboard__title h2 {
  color: #000;
  font-size: 3rem;
  font-weight: 500;
  margin: 0 0 2rem;
}
.dashboard__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}
.dashboard__card {
  background-color: #fff;
  border-radius: 0.6rem;
  padding: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dashboard__content p {
  color: #131313;
  font-size: 2rem;
  font-weight: 500;
  margin: 0 0 3rem;
}
.dashboard__content h3 {
  font-size: 3.2rem;
  font-weight: 500;
  color: #000;
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Nunito", sans-serif !important;
  min-height: 100%;
  overflow-x: hidden;
  position: relative;
  font-weight: 400;
  color: #fff !important;
  background-color: #F6F6F6 !important;
}

.layout {
  padding: 12rem 2rem 2rem 28rem;
}/*# sourceMappingURL=style.css.map */